<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>
    Avoid eye contact<br>
    do not react<br>
    act normal<br>
    stay calm
  </h1>

  <div class="container">
    <p>
      Behind the scenes photos and info for Radiohead&rsquo;s Burn the Witch.<br><br>
      Stay tuned for in-depth reveals as the hype train approaches the station.
    </p>

    <section>
      <h2>Burn the Witch live intro circa 2006</h2>
      <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262323002&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </section>

    <section>
      <h2>Behind the scenes of the video</h2>
      <ul class="clearfix">
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301066/15_ydjalo.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301066/7_vwzkej.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301066/16_sa6uol.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301065/14_jj2m1j.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301064/8_veyvyi.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301064/10_ezlube.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301064/12_thgbls.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301064/13_ojv3y3.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301064/11_pqmo4i.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301062/1_svw73k.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301062/2_cuyrqf.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301062/6_xkm0fo.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301062/3_ywyiai.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301061/5_jzk6q1.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301062/3_ywyiai.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301061/4_nh4cux.png">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301065/small1_usaqrv.jpg">
        </li>
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/v1462301065/small2_pine79.jpg">
        </li>
      </ul>
    </section>

    <section>
      <h2>Burn the Witch live intro circa 2008</h2>
      <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262323000&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </section>

    <section>
      <h2>What&rsquo;s Next?</h2>
      <p>Maybe Big Boots will be released next&hellip; The following song samples Big Boots, maybe a preview of what&rsquo;s to come?</p>
      <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206461751&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </section>

     <section>
      <cite>Burn the Witch lyrics circa 2007</cite>
      <blockquote>
        avoid all eye contact<br>
        do no react<br>
        this is a round up<br>
        this is a low flying panic attack<br>
        red crosses on wooden doors<br>
        if she floats she burns<br>
        loose talk around tables<br>
        abandon all reason<br>
        stay in the shadows<br>
        cheer at the gallows<br>
        this is a low flying panic attack<br>
        six the song of sixpence that goes<br>
        burn the witch
      </blockquote>
    </section>

    <section>
      <cite>Burn the Witch lyrics circa 2016</cite>
      <blockquote>
        stay in the shadows<br>
        cheer at the gallows<br>
        this is a round up<br>
        this is a low flying panic attack<br>
        sing the song on the jukebox that goes<br>
        burn the witch<br>
        burn the witch<br>
        we know where you live<br>
        red crosses on wooden doors<br>
        if you float you burn<br>
        loose talk around tables<br>
        abandon all reason<br>
        avoid all eye contact<br>
        do not react<br>
        shoot the messengers<br>
        this is a low flying panic attack<br>
        sing the song of sixpence that goes<br>
        burn the witch<br>
        burn the witch<br>
        we know where you live<br>
        we know where you live
      </blockquote>
    </section>

    <span class="hidden-message">
      just a bit of harmless fun ;)
    </span>

  </div>
</body>
</html>
