<!DOCTYPE html>
<html>
<head>
  <title>Webpack CSS</title>

  <!--
    smile, we're watching :)
  -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/project.css" />

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.3.1/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.3.1/velocity.ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.3.4/underscore.string.min.js"></script>

  <style>

    body {
      padding: 32px;
      height: auto;
      overflow: scroll;
    }

    .song {
      display: block;
      margin-bottom: 45px;
    }

    .song-title {
      font-size: 26px;
      margin-bottom: 21px;
      letter-spacing: 0.075rem;
    }

    .stat-container {
      float: left;
      margin: 0 32px;
      text-align: center;
    }

    .stat-container:first-of-type {
      margin-left: 0;
    }

    .number {
      display: block;
      font-size: 32px;
      line-height: 21px;
    }

    .stat {
      font-size: 16px;
      letter-spacing: 0.075rem;
    }
  </style>


  </head>

<body>

  <div class="container">
    <ul class="songs"></ul>
  </div>

  <script>

    SOUNDCLOUD_CLIENT_ID = '<%= SOUNDCLOUD_CLIENT_ID %>'

    $(function() {

      function getHtml(song) {
        function renderStat(stat, number) {
          return [
            '<div class="stat-container">',
              '<span class="number">'+number+'</span>',
              '<span class="stat">'+stat+'</span>',
            '</div>'
          ].join('')
        }

        let stats = {
          plays: song.playback_count,
          downloads: song.download_count,
          favorites: song.favoritings_count,
          reposts: song.reposts_count,
          comments: song.comment_count,
        };

        const conversion = (Object.values(stats).reduce((a, b) => a + b, 0) - song.playback_count) / song.playback_count
        stats.conversion = (conversion * 100).toFixed(2) + '%'

        const statHtml = Object.keys(stats).map(stat => renderStat(stat, stats[stat])).join('')

        return [
          '<li class="song clearfix">',
            '<h2 class="song-title">'+song.title+'</h2>',
            statHtml,
          '</li>',
        ].join('')
      }

      $.get('http://api.soundcloud.com/users/62144346/tracks?client_id=' + SOUNDCLOUD_CLIENT_ID, function(response) {
        response.forEach(function(song) {
          $('.songs').append(getHtml(song))
        })
      })
    });

  </script>

</body>
</html>
